In [28]:
a=10
b=5

if a==10 and b>5:
    print("This is a valid statement")
elif a==10 and b<=5:
    print("this statement is valid inside elif")
else:
    print("condition is not valid")

this statement is valid inside elif

In [29]:
a==10 and b==5

True

In [30]:
a=10
b=5

if a==10 or b>5:
    print("This is a valid statement")
elif a==10 or b<=5:
    print("this statement is valid inside elif")
else:
    print("condition is not valid")

This is a valid statement

In [31]:
First_Name = input(" First Name")
Last_Name = input(" Last Name")

if First_Name == "Sivaprasad":
    print("First name is correct")
else:
    print("Firt name is not correct")
if Last_Name == "Tenkala":
    print("Last name is correct")
else:
    print("Last name is not correct")

 First NameSiva
 Last NameTen
Firt name is not correct
Last name is not correct

In [32]:
initial_speed = 0
final_speed = 100
count = 0
while initial_speed <= final_speed:
    print("This is my speed")
    count = count + 1
    if count == 5:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [33]:
initial_speed <= final_speed

True

In [34]:
i = 1
j = 5

while i<j:
    print(i)
    i = i +1

1
2
3
4

In [36]:
notes = 5
i = 1
j=1
while i<notes:
    print(i)
    i+=1
else:
    while j<2:
        print(i)
        j+=1
    print("no 10rs notes are available")

1
2
3
4
5
no 10rs notes are available

In [50]:
s ="my name is Sivaprasad"
s

'my name is Sivaprasad'

In [62]:
s[11:]

'Sivaprasad'

In [66]:
s[-11:]

' Sivaprasad'

In [68]:
s[3:10:2]

'nm s'

In [73]:
s[10:1:-1]

' si eman '

In [74]:
s[10:1:-2]

' iea '

In [77]:
s[::-1] # reverse of my string

'dasarpaviS si eman ym'

In [78]:
s[2:-6]

' name is Siva'

In [79]:
s

'my name is Sivaprasad'

In [80]:
for i in s:
    print(i)

m
y

n
a
m
e

i
s

S
i
v
a
p
r
a
s
a
d

In [81]:
for i in s:
    if i == "n":
        break
    print(i)
else:
    if i=="d":
        print("last char was d")
    print("this is a else condition")

m
y

In [86]:
for i in s:
    if i == "n":
        continue
    print(i)
else:
    if i=="d":
        print("last char was d")
    print("this is a else condition")

m
y

a
m
e

i
s

S
i
v
a
p
r
a
s
a
d
last char was d
this is a else condition

In [95]:
for i in s:
    if i == "n":
        continue
    print(i)

i
e
u
r
o

In [94]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [93]:
ss

'ieuro'

In [97]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ", end="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [257]:
n = 7
for i in range(n,0, -1):
    for j in range(n):
        print(end=" ")
    n+=1
    for j in range(i):
        print("*", end=" ")
    print("")

       * * * * * * *
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [260]:
n = 7
for i in range(0,n):
    for j in range(n):
        print(end=" ")
    n-=1
    for j in range(i+1):
        print("*", end=" ")
    print("")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

"""
code written by other peer
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

"""

'''
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")
'''

In [173]:
n=9
i=0
while i<n: 
    print(' '*(n-i-1) + '* '*(i+1))
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

'''
code written by peers
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

'''

In [191]:
l =["siva",34345,"ssss", True,45+8j, [3,5,6,"dfg"],6.78]

In [192]:
l

['siva', 34345, 'ssss', True, (45+8j), [3, 5, 6, 'dfg'], 6.78]

In [190]:
type(l)

list

In [195]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(i))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [198]:
l[8:2:-1]

[6.78, [3, 5, 6, 'dfg'], (45+8j), True]